# Python bytecode files
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
/static/
media/

# Virtual Environment
venv/
env/
.venv/
.env/   

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# macOS system files
.DS_Store

# Windows system files
Thumbs.db
ehthumbs.db

# Secret keys
*.env
*.local
cert.pem
key.pem